@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');
body{
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    background-color: #2C2C2C;
}
*{
    box-sizing: border-box;
}
h1{
    font-weight: 500;
    font-size: 15px;
}
.hidden{
    display: none;
}
.fadeIn{
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.click-topbar{
    color: #FF5F5F;
    background-image: linear-gradient(to bottom, rgba(132, 129, 129, 0), rgb(100, 99, 99));
}

/*header*/
.top{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    background-color: #2C2C2C;
}
.top-bar{
    width: 50%;
    height: 80px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 43px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.top-bar span{
    display: inline-block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    color:#83FFE6;
}
.top-bar span:hover, span:focus{
    cursor: pointer;
    color: #FF5F5F;
    background-image: linear-gradient(to bottom, rgba(132, 129, 129, 0), rgb(100, 99, 99));
}

/*main*/
.inside{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10%;
}
.box-inside{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.box-left{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-right{
    width: 40%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

/*Box esquerda*/
.box-left h2{
    font-weight: 200;
    font-size: 22px;
    line-height: 28px;
    color: #83FFE6;
    cursor: default;
    padding-left: 125px;
}

.box-left span{
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    padding-left: 125px;
    margin-bottom: 20px;
    color: #FCFCFC;
    cursor: default;
    max-width: 0;
    width: max-content;
    /*margin-left: 20%;*/

    /*animation*/
    white-space: nowrap;
    border-right: 2px solid #FF5F5F;
    animation: blink 500ms infinite normal, typing normal 5s steps(60) both;
    overflow: hidden;
}

@keyframes typing {
    100%{
        max-width: 100%;
    }
}

@keyframes blink {
    100%{
        border-right-color: transparent;
    }
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.buttons button{
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: #FF5F5F;
    color: #83FFE6;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    width: 60%;
    height: 50px;
    margin-bottom: 20px;
    letter-spacing: 4px;
}
.buttons button:hover{
    background-color: #83FFE6;
    color: #FF5F5F;
    border: none;
    transition: 500ms;
}

/*Box direita*/
.background-img{
    background-color: #2C2C2C;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(76, 58, 81, 1);
    -moz-box-shadow:    inset 0px 0px 17px 0px rgba(76, 58, 81, 1);
    box-shadow:         inset 0px 0px 17px 0px rgba(76, 58, 81, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-img span{
    position: absolute;
    inset: 5px;
    border-radius: 100%;
    background-color: #484444;
    z-index: 1;
    background-image: url('../images/gabrielavuolo.png');
}
.background-img::before{
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,
    transparent, transparent,#FF5F5F);
    animation: animate 4s linear infinite;
}
.background-img::after{
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,
    transparent, transparent,#83FFE6);
    animation: animate 4s linear infinite;
    animation-delay: -2s;

}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.background-img img{
    width: 100%;
    overflow: hidden;
    z-index: -1;
}